.step3-box {
  padding: 20px;
}

.expand-row-icon {
  cursor: pointer;
  color: #1890ff;
  width: 200px;
}

.school-option-box {
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
  padding: 10px;
}

.option-box {
  margin-bottom: 5px;
}
.option-box:last-child {
  margin-bottom: 0;
}

.option-name {
  padding-right: 5px;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content-left {
  width: 70%;
  border: 1px solid #d9d9d9;
}

.content-right {
  width: 25%;
  border: 1px solid #d9d9d9;
}
