.footer-box {
  padding: 95px 0 60px;
  color: #ffffff;
  background: #0e407b;
}

/* 底部第一行 start */
.footer-first-list-box {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 170px;
  height: 85px;
}

.footer-list-item {
  width: 160px;
}

.footer-list-item > ul > li {
  margin: 8px 0;
  font-size: 10px;
}

.footer-list-title {
  color: #fff;
  font-size: 23px;
  border-bottom: 1px solid #fff;
  text-align: left;
  padding-bottom: 8px;
}
/* 底部第一行 end */

/* 底部第二行 start */
.footer-second-list-box {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-title-logo {
  width: 325px;
  height: 70px;
}

.footer-link-list-box h5 {
  color: #fff;
  font-size: 23px;
}

.footer-link-list-box ul {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}

.footer-link-list-box ul li {
  height: 18px;
  line-height: 18px;
  padding: 0 2px;
  border-left: 1px solid #fff;
}

.footer-link-list-box ul li:first-child {
  border: 0;
}

.footer-link-list-box ul li a {
  color: #fff;
  font-size: 13px;
}

.footer-icon-list {
  display: flex;
  width: 120px;
  height: 65px;
}

.footer-icon-list p {
  margin-bottom: 0;
}

.footer-icon-box {
  margin-right: 15px;
  line-height: 80px;
}

.footer-icon {
  font-size: 40px;
}

.index-qr-code {
  width: 93px;
  height: 93px;
}
/* 底部第二行 end */
