.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.header {
  background: #fff;
  width: 100%;
}

/* 迷你头部 */
.index-mini-header-box {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.index-mini-header-box li {
  border-left: 2px solid #bfbfbf;
  height: 20px;
  margin-top: 5px;
  line-height: 20px;
  width: 100px;
  text-align: center;
}

.index-mini-header-box li:last-child {
  border-right: 2px solid #bfbfbf;
}

.index-mini-header-ul {
  display: flex;
}

/* logo部分 start */
.index-logo-box {
  padding: 45px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.img-logo-box {
  display: flex;
  align-items: flex-end;
}
.img-logo {
  width: 180px;
  height: 90px;
}

.img-title-logo {
  width: 325px;
  height: 70px;
}

.index-search-input {
  width: 520px;
  height: 60px;
  border: 4px solid #0E407B;
}

.index-search-button {
  width: 60px;
  height: 60px;
  background: #0E407B;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

/* logo部分 over */

.header .ant-menu {
  background: #fff;
}

.user-menu-span {
  color: #1890ff;
  cursor: pointer;
}

.logo-box {
  text-align: center;
}

.header-personal-box {
  text-align: right;
}
