.home-voluntary-box {
  padding: 20px;
}

.home-voluntary-me {
  padding: 20px;
  background: #fff;
  width: 400px;
  margin-bottom: 10px;
}

.voluntarty-me-box {
  padding: 20px;
  border: 1px solid #d9d9d9;
}

.home-voluntary-content {
  padding: 20px;
  background: #fff;
}

.voluntary-main-box {
  padding: 20px;
  border: 1px solid #d9d9d9;
}

.steps-box {
  margin-bottom: 20px;
}

.steps-content {
  margin-top: 20px;
}