.home-voluntary-box {
  position: relative;
  background: #fff;
}

.home-voluntary-me {
  padding: 20px;
  background: #fff;
  margin-bottom: 10px;
}

.voluntarty-me-box {
  padding: 20px;
  border: 1px solid #d9d9d9;
}

.home-voluntary-content {
  padding: 20px;
  background: rgba(0,0,0,0);
  position: relative;
  z-index: 6;
}

.voluntary-main-box {
  padding: 0 70px;
}

.voluntarty-button-box {
  text-align: center;
}

.steps-box {
  margin-bottom: 105px;
}

.steps-content {
  margin-top: 20px;
}