.index-box {
  background: #eeeeee;
}

/* 智赢快讯 start */
.fast-information-box {
  display: flex;
  background: #fff;
  padding: 17px 13px;
  margin-top: 8px;
  margin-bottom: 8px;
  align-items: center;
}

.fast-information-icon {
  font-size: 22px;
  color: #0e407b;
}

.fast-information-title {
  margin: 0 40px 0 14px;
}

.carousel-information-box {
  width: 1000px;
}
/* 智赢快讯 end */

/** 
 * 轮播图 start
 */

.carou {
  width: 100%;
  height: 360px;
  line-height: 360px;
  overflow: hidden;
}

.carou-img {
  height: 360px;
  background: #fff;
  margin: 0 auto;
}

.card {
  margin-left: 30px;
  width: 400px;
  height: 350px;
}

/** 
 * 轮播图 end
 */

/** 
* search板块 start
*/
.search-row {
  display: flex;
  justify-content: space-between;
}

.school-background {
  background: url('../assets/images/index/school-search.png');
}

.major-background {
  background: url('../assets/images/index/major-search.png');
}

.search-outter-box {
  width: calc(50% - 5px);
  height: 72px;
  text-align: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.search-text-box {
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 0;
  font-size: 24px;
  line-height: 72px;
}

.search-title {
  margin-left: 8px;
}

.search-shadow-box {
  background: rgba(0, 0, 0, 1);
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/** 
* search板块 end
*/

/* 智课堂模块 start */
.index-school-major-box {
  margin-top: 7px;
}
.intelligent-course-box {
  width: 100%;
  margin-bottom: 11px;
}

.intelligent-course-box ul {
  display: flex;
  justify-content: space-between;
}

.intelligent-course-box ul li {
  width: calc(20% - 8px);
  padding: 10px;
  background: #eeeeee;
}

.intelligent-course-box ul li img {
  width: 100%;
  height: 120px;
}

.intelligent-course-box ul li h5 {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  color: #3c3c3c;
}

.intelligent-course-box ul li p {
  text-align: right;
  color: #aaaaaa;
  font-size: 13px;
}

/* 智课堂模块 end */
/* 院校咨询 start */
.school-information-box {
  width: calc(50% - 1px);
  padding: 0 12px 0 8px;
}

.school-information-box ul {
  height: calc(323px - 9px);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.school-information-box ul li {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.school-information-box ul li .school-information-tags {
  align-self: flex-start;
  font-size: 15px;
}

.school-information-box ul li .school-information-tags span {
  display: inline-block;
  width: 34px;
  height: 17px;
  line-height: 17px;
  font-size: 13px;
  color: #fff;
  background: #10417C;
  text-align: center;
  margin-right: 5px;
}

.school-information-box ul li .school-information-tags span:last-child {
  margin-right: 0;
}
.school-information-box ul li h5 {
  width: 275px;
  color: #0e407b;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.school-information-box .school-information-time-box {
  color: #A4A4A4;
  font-size: 13px;
}

.school-information-box .school-information-see-box {
  color: #A4A4A4;
  font-size: 13px;
  margin-left: 28px;
}

/* 院校咨询 end */
/* 专业百科 start */
.major-information-box {
  width: calc(50% - 1px);
  padding: 0 12px 0 8px;
}

.major-information-box ul {
  height: calc(323px - 9px);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.major-information-box ul li {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.major-information-box ul li .major-information-tags {
  align-self: flex-start;
  font-size: 15px;
}

.major-information-box ul li .major-information-tags span {
  display: inline-block;
  width: 34px;
  height: 17px;
  line-height: 17px;
  font-size: 13px;
  color: #fff;
  background: #10417C;
  text-align: center;
  margin-right: 5px;
}

.major-information-box ul li .major-information-tags span:last-child {
  margin-right: 0;
}
.major-information-box ul li h5 {
  width: 275px;
  color: #0e407b;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.major-information-box .major-information-time-box {
  color: #A4A4A4;
  font-size: 13px;
}

.major-information-box .major-information-see-box {
  color: #A4A4A4;
  font-size: 13px;
  margin-left: 28px;
}
/* 专业百科 end */
/* 首页全局样式 */
.page-inner-width-box {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

.page-inner-left-box {
  width: 870px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 21px 15px 9px;
}

.h2-title-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5px;
  border-bottom: 2px solid #bfbfbf;
  margin-bottom: 7px;
}

.index-h2-title {
  color: #0e407b;
  font-size: 18px;
}

.index-more {
  color: #898989;
  font-size: 15px;
}

.upright-line {
  height: calc(323px - 9px);
  width: 2px;
  background: #E5E5E5;
  align-self: flex-end;
}