.index-box {
  background: #eeeeee;
  padding-bottom: 10px;
}

/* 智赢快讯 start */
.fast-information-box {
  display: flex;
  background: #fff;
  padding: 17px 13px;
  margin-top: 8px;
  margin-bottom: 8px;
  align-items: center;
}

.fast-information-icon {
  font-size: 22px;
  color: #fc7332;
}

.fast-information-title {
  margin: 0 40px 0 14px;
  color: #fc7332;
  font-size: 18px;
}

.carousel-information-box {
  width: 1000px;
}

/* 智赢快讯 end */

/** 
 * 轮播图 start
 */
.carou-box {
  width: 100%;
  display: flex;
  background-image: linear-gradient(#00d6ef, #0e407b);
}

.carou-left-img {
  /* background-image: url('/index-icon/index-background-left.png'); */
  width: calc((100% - 870px - 330px) / 2);
  height: 360px;
}

.carou-right-img {
  /* background-image: url('/index-icon/index-background-left.png'); */
  width: calc((100% - 870px - 330px) / 2);
  height: 360px;
  transform: rotateY(180deg);
}

.carou-inner-box {
  display: flex;
}

.carou {
  width: 870px;
  height: 360px;
  line-height: 360px;
  overflow: hidden;
}

.carou-img {
  height: 360px;
  background: #fff;
  margin: 0 auto;
}

.card {
  margin-left: 30px;
  width: 400px;
  height: 350px;
}

.index-login-box {
  width: 330px;
  height: 100%;
  background: #0e407b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.index-login-h5 {
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  align-self: flex-start;
}

.index-login-input {
  width: 280px;
  background: #0e407b;
  color: #c5c5c5;
  border: 1px solid #ffffff;
  border-radius: 0;
  text-align: center;
}

.index-login-button {
  width: 200px;
  background: #f06000;
  color: #fff;
  border: 0;
}

/** 
 * 轮播图 end
 */

/** 
* profile板块 start
*/
.index-profile-box {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 20px;
}

.index-profile-box .index-profile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.index-profile-box .index-profile-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 44px;
}

.index-popover-box {
  width: 200px;
}

/** 
* profile板块 end
*/

/* 智课堂模块 start */
.index-left-right-box {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}

.intelligent-course-box {
  width: 100%;
  margin-bottom: 11px;
}

.intelligent-course-box ul {
  display: flex;
  justify-content: space-between;
}

.intelligent-course-box ul li {
  width: calc(20% - 8px);
  padding: 10px;
  background: #eeeeee;
}

.intelligent-course-box ul li img {
  width: 100%;
  height: 120px;
}

.intelligent-course-box ul li h5 {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  color: #3c3c3c;
}

.intelligent-course-box ul li p {
  text-align: right;
  color: #aaaaaa;
  font-size: 13px;
}

/* 智课堂模块 end */
/* 院校咨询 start */
.school-information-box {
  width: calc(50% - 1px);
  padding: 0 12px 0 8px;
}

.school-information-box ul {
  height: calc(323px - 9px);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.school-information-box ul li {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.school-information-box ul li .school-information-tags {
  align-self: flex-start;
  font-size: 15px;
}

.school-information-box ul li .school-information-tags span {
  display: inline-block;
  width: 34px;
  height: 17px;
  line-height: 17px;
  font-size: 13px;
  color: #fff;
  background: #f06000;
  text-align: center;
  margin-right: 5px;
}

.school-information-box ul li .school-information-tags span:last-child {
  margin-right: 0;
  background: #10417c;
}

.school-information-box ul li h5 {
  width: 275px;
  color: #0e407b;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.school-information-box .school-information-time-box {
  color: #a4a4a4;
  font-size: 13px;
}

.school-information-box .school-information-see-box {
  color: #a4a4a4;
  font-size: 13px;
  margin-left: 28px;
}

/* 院校咨询 end */
/* 专业百科 start */
.major-information-box {
  width: calc(50% - 1px);
  padding: 0 12px 0 8px;
}

.major-information-box ul {
  height: calc(323px - 9px);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.major-information-box ul li {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.major-information-box ul li .major-information-tags {
  align-self: flex-start;
  font-size: 15px;
}

.major-information-box ul li .major-information-tags span {
  display: inline-block;
  width: 34px;
  height: 17px;
  line-height: 17px;
  font-size: 13px;
  color: #fff;
  background: #f06000;
  text-align: center;
  margin-right: 5px;
}

.major-information-box ul li .major-information-tags span:last-child {
  margin-right: 0;
  background: #10417c;
}

.major-information-box ul li h5 {
  width: 275px;
  color: #0e407b;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.major-information-box .major-information-time-box {
  color: #a4a4a4;
  font-size: 13px;
}

.major-information-box .major-information-see-box {
  color: #a4a4a4;
  font-size: 13px;
  margin-left: 28px;
}

/* 专业百科 end */
/* 高考百问 start */
.page-inner-right-box {
  width: 320px;
  background: #fff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-question-ul-box {
  padding: 0 13px;
  height: 250px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.index-question-ul-box li {
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 7px;
  color: #0e407b;
  font-size: 15px;
  width: 100%;
  padding-right: calc(100% - 160px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 高考百问 end */
/* 排名集锦 start */
.index-rank-show-box ul {
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.index-rank-show-box ul li {
  height: 70px;
  box-shadow: 0px 1px 4px 0px rgba(13, 5, 9, 0.3);
  display: flex;
  padding: 6px;
}

.index-rank-show-box ul li img {
  width: 70px;
  height: 56px;
  margin-right: 13px;
}

.index-rank-detail-box {
  width: calc(100% - 13px - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-rank-detail-box h5 {
  width: 100%;
  font-size: 15px;
  color: #0e407b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.index-rank-detail-box span {
  font-size: 13px;
  color: #a4a4a4;
}

.index-rank-detail-box span:first-child {
  margin-right: 24px;
}

/* 排名集锦 end */
/* 特色学校推荐 start */
.index-good-school-box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index-good-school-box ul li {
  width: calc((100% - 8px * 3) / 4);
  overflow: hidden;
  margin-bottom: 9px;
  font-size: 15px;
  text-align: center;
}

.index-good-school-box ul li span {
  color: #0e407b;
}

.index-good-school-box ul li img {
  width: 100%;
  height: 125px;
}

/* 特色学校推荐 end */
/* 考生必读 start */
.student-must-read-box {
  height: 100%;
}

.student-must-read-box ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 35px);
}

.student-must-read-box ul li {
  color: #0e407b;
  font-size: 15px;
  width: 300px;
}

.student-must-read-box ul li span {
  display: inline-block;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.student-must-read-icon {
  margin-right: 17px;
}

/* 考生必读 end */