.index-box {
  background: #fff;
  min-height: 380px;
}

.carou {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.index-container {
  margin: 0 auto;
}

.card {
  margin: 0 auto;
}

.black-row {
  margin: 0 auto;
  max-width: 1140px;
}

.outter-row-dark {
  text-align: center;
  background: #F6F6F7;
  padding: 20px 0;
}

.outter-row-light {
  text-align: center;
  background: #FFFFFF;
  padding: 20px 0;
}

.title {
  margin: 0 auto;
  max-width: 1140px;
  font-size: 20px;
  text-align: left;
}