.test {
  margin: auto;
  text-align: center;
}

.blank {
  height: 150px;
}

.back {
  height: 100%;
}

.login-title {
  margin: auto;
  font-size: 2em;
}

.login-sub-title {
  margin-bottom: 15px;
}

.login-input {
  margin: 15px 0;
}

.login-button {
  width: 250px;
  margin: 15px 0;
}
