.login-box {
  margin: 0 auto;
  text-align: center;
}

.back {
  box-sizing: border-box;
  padding-top: 150px;
  background: rgb(255, 255, 255);
  position: relative;
  padding-bottom: 490px;
}

.form-item{
  margin-bottom: 0;
}
.login-title {
  margin: auto;
  font-size: 2em;
}

.login-sub-title {
  margin-bottom: 15px;
}

.login-input {
  margin: 15px 0;
}

.login-button {
  width: 250px;
  margin: 15px 0;
}

.left-background-bottom {
  width: 30%;
  max-width: 603px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.right-background-bottom {
  width: 30%;
  max-width: 603px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
}

.left-background-top {
  width: 30%;
  max-width: 372px;
  position: absolute;
  top: 0;
  left: 0;
}

.right-background-top {
  width: 30%;
  max-width: 372px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotateY(180deg);
}

.login-to-register-box {
  text-align: left;
}

.login-to-register-box a {
  color: #1890ff;
}