.school-input-box {
  width: 100%;
  padding: 20px;
  border: 1px solid #e8e8e8;
  align-self: flex-start;
  margin: 5px 2.5%;
}

.school-search-box {
  box-sizing: border-box;
}

.school-search-content {
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.school-list-option-box {
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 20px;
  margin: 5px 2.5%;
}

.school-list-box {
  width: 100%;
  padding: 20px;
  margin: 5px 2.5%;
  background: #EEEEEE;
}

.ant-checkbox-wrapper {
  margin-left: 10px;
}

.school-title {
  cursor: pointer;
  transition: .2s;
  font-size: 18px;
}

.school-title:hover {
  color: rgb(16, 142, 233);
}

.school-list-box .ant-list-grid .ant-col > .search-school-list-item {
  background: #fff;
  padding: 11px 18px;
}