.qeustionnaire-box {
  width: 100%;
  background: #fff;
}

.cont {
  height: 500px;
  min-width: 1250px;
  padding: 30px;
}

.ques-top {
  padding-top: 110px;
}

.bg-light {
  background: #ffffff;
}

.typo {
  text-align: left;
  margin-left: 70px;
  position: absolute;
  top: 50%;
  margin-top: -25%;
}

.question-button-con {
  text-align: center;
}

.question-button {
  width: 400px;
  height: 50px;
  margin: 10px 0;
}

.ques-title {
  text-align: center;
}

.redo {
  position: relative;
  left: 30px;
  top: -80px;
}

.redoButton {
  margin: 10px;
}
