.questionnaire-chart {
  width: 48%;
}

.max-describe {
  width: 48%;
}

.result-box {
  padding: 20px;
}

.result-content-box {
  padding: 20px;
  background: #fff;
}

.result-content {
  display: flex;
  justify-content: space-between;
}