.main-img {
  width: 100%;
}

.question-box {
  background: #f6f6f7;
  min-height: 500px;
  min-width: 1250px;
  padding-top: 30px;
}

.typo1 {
  text-align: left;
  margin-left: 70px;
  margin-top: 60px;
}

.question-welcome-box {
  display: flex;
  justify-content: space-around;
}

.questionnaire-main-img {
  height: 600px;
}

.question-welcome-describe-box {
  width: 45%;
}

.question-welcome-img-box {
  width: 45%;
}