/* // unify the setting of elements's margin and padding for browsers  */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

/* // Reset fonts for relevant elements  */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.bg-dark {
  background: #f6f6f7;
}

.bg-light {
  background: #ffffff;
}

.btn-large {
  width: 355px;
}

.gray-background {
  background: #eeeeee;
}

html {
  overflow-x: hidden;
}

/* 甲方要的渐变start */
.btn-transition-blue-background {
  background-image: linear-gradient(#059ac1, #0e417c) !important;
  color: #fff;
  border-radius: 0;
}
.btn-transition-blue-background:hover {
  background-image: linear-gradient(#059ac1, #0e417c);
}

.content {
  display: block !important;
}
/* 甲方要的渐变end */

.layout {
  min-width: 1200px;
}

/* 首页全局样式 */
div.page-inner-width-box{
  max-width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.page-inner-left-box {
  width: 870px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 21px 15px 9px;
}

.h2-title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5px;
  border-bottom: 2px solid #bfbfbf;
  margin-bottom: 7px;
}

.index-h2-title {
  color: #0e407b;
  font-size: 18px;
}

.index-more {
  color: #898989;
  font-size: 15px;
}

.upright-line {
  height: calc(323px - 9px);
  width: 2px;
  background: #e5e5e5;
  align-self: flex-end;
}
